<section id="about-us">
  <div class="container">
    <h2 class="about-header">Чому Хатинка Лапок</h2>
    <div class="about-swiper">
      <ul class="about-slides-list">
        <li class="about-slide">
          <img
            class="about-img"
            srcset="/img/woman-dog-min.jpg 1x, /img/woman-dog@2x-min.jpg 2x"
            src="/img/woman-dog-min.jpg"
            alt="Woman and dog on the street"
          />
          <p class="about-text">
            Все почалося у 2015 році з кількох небайдужих людей та одного
            врятованого собаки. Сьогодні ми — один з найбільших притулків у
            регіоні, але наша мета незмінна: дати другий шанс тим, кого зрадили.
          </p>
        </li>
        <li class="about-slide">
          <img
            class="about-img"
            srcset="
              /img/happy-sad-dog-min.jpg    1x,
              /img/happy-sad-dog@2x-min.jpg 2x
            "
            src="/img/happy-sad-dog-min.jpg"
            alt="Dog before and after rehabilitation"
          />
          <p class="about-text">
            Ми рятуємо, реабілітуємо та знаходимо люблячі родини для
            безпритульних тварин. Наша мета — не просто дати прихисток, а й
            забезпечити кожному "хвостику" щасливе та повноцінне життя в новій
            родині.
          </p>
        </li>
        <li class="about-slide">
          <img
            class="about-img"
            srcset="/img/happy-dogs-min.jpg 1x, /img/happy-dogs@2x-min.jpg 2x"
            src="/img/happy-dogs-min.jpg"
            alt="Group of people holding happy animals in their arms"
          />
          <p class="about-text">
            "Хатинка Лапок" — це команда професійних ветеринарів, кінологів та
            десятків волонтерів, які щодня вкладають свою душу та час у турботу
            про наших підопічних. Ми працюємо 24/7, бо їхнє життя залежить від
            нас.
          </p>
        </li>
        <li class="about-slide">
          <img
            class="about-img"
            srcset="/img/playground-min.jpg 1x, /img/playground@2x-min.jpg 2x"
            src="/img/playground-min.jpg"
            alt="Animal playground"
          />
          <p class="about-text">
            Ми створили безпечний та комфортний простір. Кожна тварина отримує
            якісне харчування, своєчасну ветеринарну допомогу, проходить
            соціалізацію та гуляє на спеціально обладнаних майданчиках.
          </p>
        </li>
        <li class="about-slide">
          <img
            class="about-img"
            srcset="/img/hug-dog-min.jpg 1x, /img/hug-dog@2x-min.jpg 2x"
            alt="Woman hugging a dog"
          />
          <p class="about-text">
            Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати
            волонтером, допомогти фінансово або інформаційно. Кожен маленький
            внесок наближає нас до великої мети — світу без безпритульних
            тварин.
          </p>
        </li>
      </ul>
      <div class="about-swiper-pagination"></div>
      <button class="about-btn-prev" type="button">
        <svg class="about-svg-prev" width="24" height="24">
          <use href="/img/favicon.svg#arrow_back"></use>
        </svg>
      </button>
      <button class="about-btn-next" type="button">
        <svg class="about-svg-next" width="24" height="24">
          <use href="/img/favicon.svg#arrow_forward"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
