<div class="details-modal">
  <div class="container d-m-container">
    <div class="d-m-content">
      <button class="d-m-close" type="button">
        <svg class="d-m-svg" width="24" height="24">
          <use href="./img/icon-sprite.svg#close"></use>
        </svg>
      </button>
      <img class="d-m-img" src="" alt=""/>
      <div class="insert-content">
      <p class="d-m-species"></p>
      <h1 class="d-m-name"></h1>
      <div class="d-m-age-gender">
        <p class="d-m-age"></p>
        <p class="d-m-gender">Х</p>
      </div>
      <h2 class="d-m-title">Опис:</h2> 
      <p class="d-m-description"></p>
      <h2 class="d-m-title">Здоров’я:</h2>
      <p class="d-m-health"></p>
      <h2 class="d-m-title">Поведінка:</h2>
      <p class="d-m-behavior"></p>
      <button class="d-m-submit" data-pet-id="" type="submit">Взяти додому</button>
    </div>
    </div>
  </div>
  

  
</div>
