<div class="details-modal">
  <div class="container">
    <div class="d-m-content">
      <button class="d-m-close" type="button">
        <svg class="d-m-svg" width="24" height="24">
          <use href="./img/icon-sprite.svg#close"></use>
        </svg>
      </button>
      <img class="d-m-img" src="https://ichef.bbci.co.uk/ace/ws/640/cpsprodpb/475B/production/_98776281_gettyimages-521697453.jpg.webp" alt=""/>
      <p class="d-m-species">Собака</p>
      <h1 class="d-m-name">Джек</h1>
      <p class="d-m-age">4 роки</p>
      <p class="d-m-gender">Хлопчик</p>
      <h2 class="d-m-title">Опис:</h2>
      <p class="d-m-description">Цей пухнастик має унікальну історію та чекає на люблячу родину. Його характер — спокійний та дружелюбний. Повністю здоровий, вакцинований, привчений до лотка. Ідеально ладнає з дітьми та іншими тваринами, тому стане чудовим другом для всієї сім'ї.</p>
      <h2 class="d-m-title">Здоров’я:</h2>
      <p class="d-m-health">Здоровий, кастрований, вакцинований. Потребує регулярного вичісування шерсті.</p>
      <h2 class="d-m-title">Поведінка:</h2>
      <p class="d-m-behavior">Бажано бути єдиною твариною в сім'ї. Не любить конкуренції за увагу.</p>
      <button class="d-m-submit" type="submit">Взяти додому</button>
    </div>
  </div>
</div>
