<header class="page-header">
    <div class="header-container">
        <a href="./index.html">
            <svg class="header-logo" width="159" height="68">
                <use href = "./img/icon-sprite.svg#logo"></use>
            </svg>
        </a>
        <button 
        class="header-menu"
        id="menu-button-open"
        >
            <svg class="header-button-menu" width="48" height="48">
                <use href = "./img/icon-sprite.svg#menu"></use>
            </svg>
        </button>
        
        <div class="laptop-nav-group">
            <ul class="site-navigation" id="laptop-nav">
                <li class="link-header">
                    <a href="#"> 
                        Знайди друга
                    </a> 
                </li>
                <li class="link-header">
                    <a href="#"> 
                        Про нас
                    </a> 
                </li><li class="link-header">
                    <a href="#"> 
                        Часті запитання
                    </a> 
                </li><li class="link-header">
                    <a href="#"> 
                        Історії успіху
                    </a> 
                </li>
            </ul>
            <a class="laptop-button" href="#">
                Взяти друга
            </a>
        </div>

        <!-- mobile menu -->

        <div class="mobile-container">
        <div class="mobile-menu">
            <div class="mobile-up">
                <a href="./index.html">
                <svg class="header-logo" width="159" height="68">
                    <use href = "./img/icon-sprite.svg#logo"></use>
                </svg>
                </a>
                <button 
                    class="mobile-close"
                    id="mobile-button-close"
                >
                <svg class="mobile-button-close" width="48" height="48">
                    <use href = "./img/icon-sprite.svg#close"></use>
                </svg>
                </button>
            </div>

            <div class="mobile-group">
                <ul class="mobile-navigation" id="mobile-nav">
                    <li class="link-mobile">
                        <a href="#"> 
                            Знайди друга
                        </a> 
                    </li>
                    <li class="link-mobile">
                        <a href="#"> 
                            Про нас
                        </a> 
                    </li><li class="link-mobile">
                        <a href="#"> 
                            Часті запитання
                        </a> 
                    </li><li class="link-mobile">
                        <a href="#"> 
                            Історії успіху
                        </a> 
                    </li>
                </ul>
                <a class="mobile-button" href="#" width="335">
                    Взяти друга
                </a>
            </div>
        </div>
        </div>
        


    </div>


</header>
