<section id="pet-list">
  <!-- Shoni`s section -->
  <div class="container pet-list-container">
    <h2 class="pet-title">Наші хвостики</h2>
    <p class="pet-sub-title">Вони дуже чекають на знайомство з вами</p>
    <ul class="pet-categories-list">
      <a class="pet-category-btn active" data-id="all" id="all-btn">Всі</a>
    </ul>

    <div class="pet-list-loader-overlay">
      <ul class="pet-list"></ul>
      <div class="pet-paws-loader-box js-preloader-pet-list">
        <div class="pet-paws-loader">
          <div class="paw">
            <svg class="paw-icon" width="120px" height="120px">
              <use href="../img/icon-sprite.svg#paw" />
            </svg>
          </div>
          <div class="paw">
            <svg class="paw-icon" width="120px" height="120px">
              <use href="../img/icon-sprite.svg#paw" />
            </svg>
          </div>
          <div class="paw">
            <svg class="paw-icon" width="120px" height="120px">
              <use href="../img/icon-sprite.svg#paw" />
            </svg>
          </div>
          <div class="paw">
            <svg class="paw-icon" width="120px" height="120px">
              <use href="../img/icon-sprite.svg#paw" />
            </svg>
          </div>
          <div class="paw">
            <svg class="paw-icon" width="120px" height="120px">
              <use href="../img/icon-sprite.svg#paw" />
            </svg>
          </div>
          <div class="paw">
            <svg class="paw-icon" width="120px" height="120px">
              <use href="../img/icon-sprite.svg#paw" />
            </svg>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="show-more-btn js-btn-load">
      Показати більше
    </button>
  </div>
</section>
