<section id="pet-list">
  <!-- Shoni`s section -->
  <div class="container">
    <h2 class="pet-title">Наші хвостики</h2>
    <p class="pet-sub-title">Вони дуже чекають на знайомство з вами</p>
    <ul class="pet-categories-list">
      <button class="pet-category-btn active" data-id="all" id="all-btn">Всі</button>
    </ul>

    <ul class="pet-list">
      <div class="paws-loader-box js-preloader">
        <div class="paws-loader">
          <div class="paw">
            <svg class="paw-icon">
              <use href="../img/favicon.svg" />
            </svg>
          </div>
          <div class="paw">
            <svg class="paw-icon">
              <use href="../img/favicon.svg" />
            </svg>
          </div>
          <div class="paw">
            <svg class="paw-icon">
              <use href="../img/favicon.svg" />
            </svg>
          </div>
          <div class="paw">
            <svg class="paw-icon">
              <use href="../img/favicon.svg" />
            </svg>
          </div>
          <div class="paw">
            <svg class="paw-icon">
              <use href="../img/favicon.svg" />
            </svg>
          </div>
          <div class="paw">
            <svg class="paw-icon">
              <use href="../img/favicon.svg" />
            </svg>
          </div>
        </div>
      </div>
      <button type="button" class="btn js-btn-load hidden">Load More</button>
    </ul>

  </div>
</section>