<section id="pet-list">
  <!-- Shoni`s section -->
  <div class="container">
    <h2 class="pet-title">Наші хвостики</h2>
    <p class="pet-sub-title">Вони дуже чекають на знайомство з вами</p>
    <ul class="pet-filter-list">
      <!-- <button class="pet-filter-btn">Всі</button> -->
    </ul>

    <ul class="pet-list">
      <!-- <li class="pet-item-container">
        <img src="" alt="" class="pet-img">
        <p class="pet-species">Cобака</p>

        <div class="pet-name-container">
          <h3 class="pet-name">Джек</h3>
          <p class="pet-tags">Cобаки</p>
        </div>

        <div class="pet-info-container">
          <p class="pet-age">4 роки</p>
          <p class="pet-sex">Хлопчик</p>
        </div>
        <p class="pet-desc">Дуже активний, любить довгі прогулянки. Потребує досвідченого господаря.</p>
        <button class="btn-more">Дізнатися більше</button>
      </li> -->

    </ul>

  </div>
</section>