<div class="paws-loader-box js-preloader">
  <div class="paws-loader">
    <div class="paw">
      <svg class="paw-icon">
        <use href="../img/favicon.svg" />
      </svg>
    </div>
    <div class="paw">
      <svg class="paw-icon">
        <use href="../img/favicon.svg" />
      </svg>
    </div>
    <div class="paw">
      <svg class="paw-icon">
        <use href="../img/favicon.svg" />
      </svg>
    </div>
    <div class="paw">
      <svg class="paw-icon">
        <use href="../img/favicon.svg" />
      </svg>
    </div>
    <div class="paw">
      <svg class="paw-icon">
        <use href="../img/favicon.svg" />
      </svg>
    </div>
    <div class="paw">
      <svg class="paw-icon">
        <use href="../img/favicon.svg" />
      </svg>
    </div>
  </div>
</div>
