<section class="success-stories" id="stories">
  <div class="container">
    <h2 class="success-stories__title">Щасливі історії, що надихають</h2>
    <p class="success-stories__subtitle">
      Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
    </p>

    <!-- Лоадер -->
    <div id="loader" class="ajax-loader">
      <div class="paw">
        <svg class="icon"><use href="/img/favicon.svg" /></svg>
      </div>
      <div class="paw">
        <svg class="icon"><use href="/img/favicon.svg" /></svg>
      </div>
      <div class="paw">
        <svg class="icon"><use href="/img/favicon.svg" /></svg>
      </div>
      <div class="paw">
        <svg class="icon"><use href="/img/favicon.svg" /></svg>
      </div>
      <div class="paw">
        <svg class="icon"><use href="/img/favicon.svg" /></svg>
      </div>
      <div class="paw">
        <svg class="icon"><use href="/img/favicon.svg" /></svg>
      </div>
    </div>

    <!-- Слайдер -->
    <div class="success-stories__slider swiper">
      <div class="swiper-wrapper" id="feedbacks-wrapper"></div>
      <div class="swiper-controls">
        <div class="swiper-buttons-group">
          <button class="swiper-button-prev" aria-label="Previous slide">
            <svg class="swiper-button-icon" width="24" height="24">
              <use href="/img/icon-sprite.svg#arrow-forward" />
            </svg>
          </button>
          <button class="swiper-button-next" aria-label="Next slide">
            <svg class="swiper-button-icon" width="24" height="24">
              <use href="/img/icon-sprite.svg#arrow-back" />
            </svg>
          </button>
        </div>
        <div class="swiper-pagination" id="swiper_pagination"></div>
      </div>
    </div>
  </div>

  <!-- Тости -->
  <div id="toast-container"></div>
</section>
