.about-container{
padding: 64px 20px;
}
.about-header{
text-align: center;
margin-bottom: 40px;
}
.about-swiper{

}
.about-slides-list{

}
.about-slide{

}
.about-img{

}
.about-text{

}
.about-swiper .swiper-pagination-bullet{

}
.about-swiper .swiper-pagination-bullet-active{

}
.about-btn-prev{

}
.about-svg-prev{

}
.about-btn-next{

}
.about-svg-next{

}