:root {
  --color-scheme-1-background: var(--color-mariner-lightest);
  --color-neutral-darkest: #02060a;
  --color-scheme-1-border: var(--opacity-neutral-darkest-15);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-white: #fff;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-foreground: var(--color-mariner-lighter);
  --color-mariner-lighter: #eee9e3;
  --color-mariner: #c3b49d;
  --color-mariner-lightest: #f6f4f1;
  --color-mariner-light: #c3b49d;
  --opacity-neutral-darkest-15: rgba(2, 6, 10, 0.15);
  --opacity-neutral-darkest-5: rgba(2, 6, 10, 0.05);
  --color-mariner-dark: #88765c;
  --color-mariner-darker: #443b2e;
  --color-scheme-2-background: var(--color-mariner);
  --font-family: 'IBM Plex Sans', sans-serif;
  --second-family: 'Open Sans', sans-serif;
  --paw-color: #d31145;
  --paw-size: 0.7em;
  --paw-duration: 2050ms;
  --paw-delay-step: 0.25s;
}

body {
  background: var(--color-scheme-1-background);
  color: var(--color-scheme-1-text);
  font-family: var(--font-family);
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--second-family);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
